[user]
	email = hclimente@gmail.com
	name = Héctor Climente-González
	signingkey = C849AC5D5DC79FA4

[color]
  ui = auto

[core]
	excludesfile = ~/.gitignore
	pager = delta

[push]
	default = simple

[pull]
    rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
